<p>
  <img
    src="http://files.cod3r.com.br/curso-web/imagem1.jpg"
    alt="Muro da Cidade"
    width="513"
    height="342"
    title="Muro da Cidade por Tarso Bessa"
  />
</p>

<p>
  <img
    src="http://files.cod3r.com.br/curso-web/imagem2.gif"
    alt="Intro Cod3r"
    height="342"
  />
</p>

<!-- PNG com fundo transparente...-->
<p class="circular">
  <img
    src="http://files.cod3r.com.br/curso-web/imagem3.png"
    alt="Rio de JAneiro"
    width="513"
    height="342"
  />
</p>

<p class="texto">
  <img
    src="http://files.cod3r.com.br/curso-web/avatar.jpg"
    alt="Avatar"
    height="50"
    align="left"
  />
  SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
  ASDADASDADADASDSDDASDADADASDASDASDASDASDASDDDADADA
</p>

<p class="cidade"></p>

<style>
  .circular {
    width: 513px;
    background-color: #444;
  }
  .texto {
    width: 400px;
  }
  .texto img {
    margin-right: 10px;
  }
  .cidade {
    width: 513px;
    height: 342px;
    background-image: url("http://files.cod3r.com.br/curso-web/imagem4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
  }
</style>
