<h1>Links</h1>

<!-- URL Absoluta -->
<a id="inicio" href="http://www.google.com.br">Google 1</a><br />
<!-- se tirarmos o http vai para o localhost -->
<a href="http://www.google.com.br" target="_blank">Google 2</a><br /><br />

<!-- URL Relativa =>  1:tenta o index da página atual / 2: index.html da raiz / 3:volta uma pasta-->
<a href="index.html">Voltar 1</a><br />
<a href="/index.html">Voltar 2</a><br />
<a href="../index.html">Voltar 3</a><br /><br />

<a href="mailto:email@empresa.com.br">Entre em contato</a><br /><br />

<!-- Trabalhando com 'âncora' -->
<div id="noticia" style="position: absolute; top: 2000px">
  <h1>Notícia Bomba!</h1>
  <p>Nada não...</p>
  <a href="#inicio">Voltar</a>
</div>

<a href="#noticia">Ir para Notícia</a>
