<h1>Projeto</h1>
<ul class="tree">
  <li>
    Backend
    <ul>
      <li>
        app
        <ul>
          <li>produto.js</li>
          <li>usuario.js</li>
          <li>venda.js</li>
        </ul>
      </li>
      <li>
        config
        <ul>
          <li>banco.js</li>
          <li>rotas.js</li>
          <li>servidor.js</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    frontend
    <ul>
      <li>
        public
        <ul>
          <li>app.css</li>
          <li>app.js</li>
          <li>index.js</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<link rel="stylesheet" href="http://files.cod3r.com.br/curso-web/tree.css" />
