<h1>Listas</h1>

<!-- Lista Ordenada -->
<h2>Aprovados</h2>
<ol>
  <li>Bia</li>
  <li>Pedro</li>
  <li>Ana</li>
  <li>João</li>
</ol>

<!-- Lista Não Ordenada -->
<h2>Lista de Compras</h2>
<ul>
  <li>Quejo</li>
  <li>Leite</li>
  <li>Arroz</li>
  <li>Pão</li>
</ul>

<!-- Lista de Definição -->
<h2>Principais termos do glossário de Cloud Computing</h2>
<dl>
  <dt>BaaS</dt>
  <dd>Backend Como Serviço</dd>
  <dt>IaaS</dt>
  <dd>Infraestrutura Como Serviço</dd>
  <dt>PaaS</dt>
  <dd>Plataforma Como Serviço</dd>
  <dt>SaaS</dt>
  <dd>Software Como Serviço</dd>
</dl>
