<h1>Yags Não Visuais</h1>

<!--
    Tags Semânticas...</p>

section - agrupamento temático de conteúdo
article - conteúdo auto-contido
header - cabeçalho do documento
footer - rodapé do documento
nav - agrupa os links de navegação
aside - de lado (ex. sidebar). Relacionado com conteúdo em volta
details - exibe detalhes que pode ser exibidos ou escondidos

    As Famosas...
div - divisão ou seção
span - usado para elementos inline
-->

<div>Área 1</div>
<div>Área 2</div>

<p>
  Esse é um texto com <span class="diferente">muitas palavras</span> e ponto.
</p>

<style>
  div {
    display: inline;
  }
  span {
    display: block;
  }

  .diferente {
    font-weight: bold;
    font-size: 30px;
    color: chocolate;
  }
</style>
