<!-- Cabeçalhos por ordem de importância e (não tamanho) -->
<h1>Cabeçalho Principal</h1>
<h2>Cabeçalho Nível 2</h2>
<h3>Cabeçalho Nível 3</h3>
<h4>Cabeçalho Nível 4</h4>
<h5>Cabeçalho Nível 5</h5>
<h6>Cabeçalho Nível 6</h6>

<!-- Parágrafos -->
<p>
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<!-- Negrito e Itálico -->
<p> Texto em <b>negrito</b> e <i>itálico</i> </p>

<!-- Sobrescrito e Subscrito -->
<p>2<sup>2</sup> = 4 e H<sub>2</sub>0 = Água </p>

<!-- Espaço em branco -->
<p>Não há espacos           entre    as palavras conforme             arquivo</p>