<h1>Texto (Parte 2)</h1>

<!-- Quebra de Linha e Quebra Temática -->
<p>
  Isso está<br />
  uma nova <br />
  linha.
</p>
<p>Tema Interessante 1</p>
<hr />
<p>Tema Interessante 2</p>

<!-- Marcações semâmticas , diferente do negrito e itálico!!!-->
<p>
  <strong>Cuidado!</strong> Alta Voltagem! <em>Somente pessoal autorizado.</em>
</p>
<blockquote cite="https://en.wikipedia.org/wiki/Wikipedia">
  <p>Citações longas...</p>
</blockquote>
<p>Fulano disse que <q>tempor incident labout ut labore er dodlore</q></p>

<!-- Outras tags -->
<p>
  <abbr title="Professor">Prof</abbr> Fulano em seu livro
  <cite>Livro bem legal</cite> definiu mais precisamente...
</p>

<p><dfn>Buraco negro</dfn> é uma região do espaço que...</p>

<address>Rua ABC, n <sup>o</sup> 123...</address>

<p>O Oscar vai para <del>La La Land</del> <ins>Moonlight</ins></p>

<p>Computador de <s>R$ 2.249,90</s> por R$ 1.800,00</p>
