<tag>
    <!-- Corpo da Tag -->
    <bla>
        <opa>Opa</opa>
    </bla>
<!-- Tags do HTML (case Insensitive) --> <meta><br><input>
</TAG>
<tag /><meta /><br /><input />

<tag param1="valor1" param2='valor2'/>

<input type="button" value="Processar">


<!--HTML 5 tem possibilidade de criar uma propriedade própria-->
<input type="text" cod3r-cpf>